@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    
    font-family:"Chivo Mono", serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

@keyframes fade-inNout {
    0%{opacity: 0; margin-left: 13%;};
    100%{opacity: 1; margin-left: 15%;};
}

@keyframes fade-image {
    0%{opacity: 0; margin-left: 50%;};
    100%{opacity: 1; margin-left: 55%;};
}

@keyframes fade-logos-row {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

body {
    background-color: rgb(112, 13, 104);
}


#header {
    width: 100%;
    height: 100vh;
}

/* ----------------------Taskbar-------------------- */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    background: rgba(255,255,255,0)
}

.logo{
    width: 100px;
    margin: 10px 15px;
    filter: brightness(0.6);
    transition: 200ms ease;
}

.logo:hover {
    filter: brightness(1);
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 45px;
}

.nav-link:hover {
    filter: brightness(1);
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    position:relative;
    filter: brightness(0.6);
    transition: 200ms ease;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #680f9c;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* ----------------------Main-------------------- */

.main-header-text {
    color: whitesmoke;
    margin-left: 15%;
    margin-top: 13%;
    font-size: 20px;
}

.main-header-text h1 {
    font-size: 40px;
    margin-top: 20px;
}


.colored {
    color:#a816ab;
}

.main-header-text h1 {
    animation: fade-inNout 1.5s;
}


.main-header-text a{
    width:100%;
}

/* ----------------------About-------------------- */

.about-header-text {
    color: whitesmoke;
    margin-left: 8%;
    margin-top: 5%;
    font-size: 20px;
}

.about-header-text h1 {
    font-size: 40px;
    margin-top: 15%;
    animation: fade-inNout 1.5s;
}

.about-header-text h1 span {
    color:#a816ab;
}

.about-header-text p {
    width: 30%;
    animation: fade-inNout 1.5s;
    color: whitesmoke;
}

#abt-logo-img {
    position:static;
    width:30%;
    margin-left: 55%;
    margin-top: -25%;
    animation: fade-image 1.5s;
}

/* ----------------------Skills-------------------- */
.default-text {
    color: white;
    width:35%;
    font-size:25px;
    position:fixed;
    margin-top: 10%;
    margin-left: 15%;
    animation: fade-inNout 1.5s;
}

.default-text h1{
    color: #a816ab
}

.default-text p {
    margin-top: 2%;
    font-size: 25px;
}

.print-statements {
    font-size: 20px;
    color: white;
    margin-top: -8%;
    margin-left: 15%;
    width: 35%;
    position: absolute;
    text-shadow: 3px 3px black;
}

.print-statements p {
    margin-top: 1%;
}

.skills-row-1 img{
    width:200px;
    background-color:white;
    padding: 0.5%;
    box-shadow: 3px 3px 10px black;
    filter: brightness(0.7);
    transition: 200ms ease;
    animation: fade-logos-row 1.5s;
}

.skills-row-2 img{
    width:200px;
    background-color:white;
    padding: 0.5%;
    box-shadow: 3px 3px 10px black;
    filter: brightness(0.7);
    transition: 200ms ease;
    animation: fade-logos-row 1.5s;
}

.skill-row1:hover {
    filter: brightness(1);
}

.skill-row2:hover {
    filter: brightness(1);
}

#java-logo-img {
    margin-top: 5%;
    margin-left: 54%;
    height: 218px;
}

#R-logo-img {
    margin-top: 2%;
    margin-left: 56%;
    height: 200px;
    width: 240px;

}